@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
}

body {
    background-color: black;

}

.parent-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.child-box {
    font-family: Acme;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    color: white;


}

.color {
    background: linear-gradient(241.16deg, rgba(255, 119, 233, 0.97) 17.37%, #0500FF 500%);
    color: transparent;
    background-clip: text;
    display: inline-block;
}